/* vietnamese */
@font-face {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/montserratalternates/v17/mFTvWacfw6zH4dthXcyms1lPpC8I_b0juU055KfQOJ0.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }

  /* cyrillic-ext */
@font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoserif/v8/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuimXPEWoRldX48gvjL4_HUPM_kB_qXSET5JCh0xOI.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoserif/v8/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuimXPEWoRldX48gvjL4_HUPM_kB_qXSET5Jih0xOI.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoserif/v8/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuimXPEWoRldX48gvjL4_HUPM_kB_qXSET5Jyh0xOI.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto Serif';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotoserif/v8/R70mjywflP6FLr3gZx7K8UyuXDs9zVwDmXCb8lxYgmuimXPEWoRldX48gvjL4_HUPM_kB_qXSET5KSh0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

body{
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #fb923c;
}
header{
    font-size: 1vmax;
    display: flex;
    align-items: center;
    background: #ffedd5;
    padding: 0 1em;
    font-family: 'Roboto Serif', serif;
}

header img{
    height: 3em;
}
header h1{
    padding-left: 0.5em;
}
.container{
    display: flex;
    justify-content: center;
    padding: 2em;
    height: 100%;
}

#add{
    font-size: 4vmax;
    width: 6vmax;
    background: #fed7aa;
    color: black;
    border: transparent;
    border-radius: 15px;
}
.books-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1em; 
    row-gap: 1em;   
}

#book-form{
    display: none;
    padding: 1em;
    top: 0;
    left: 0;
    z-index: 9;
    height: 20vmax;
    width: 35vmax;
    background:#fed7aa;
    overflow: auto;
    font-family: 'Roboto Serif', serif;
    font-size: 1.5vmax;
}
input {
    height: 2vmax;
    font-size: 1.5vmax;  
}
#book-form button{
    font-family: 'Roboto Serif', serif;
    font-size: 1.5vmax;
    background: #fb923c;
    border-radius: 10px;
    padding: 0.3em;
}
#read{
    width: 2vmax;
    accent-color: #fb923c;
}

.books-container{
    padding: 2em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    position: absolute;
   font-family: 'Montserrat Alternates', sans-serif;
}